/* Utils */
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;

  font-family: "Ubuntu", sans-serif;
  font-size: 16px;

  --primary-color: #da3d77;
  --secondary-color: #3074b3;
  --tertiary-color: #fcb040;
  --content-color: #000;
  --inverted-color: #fff;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Ubuntu", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

section {
  position: relative;
}

/* Generals */

button:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  height: 100%;
}

.primary-button {
  display: block;
  padding: 15px 30px;

  color: var(--inverted-color);
  background: var(--primary-color);

  border-radius: 10px;
}

.strong {
  font-weight: bold;
}
/* Header */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;

  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;

  width: 100%;

  z-index: 10;
}

.menu.scrolled {
  padding-top: 0;
  padding-bottom: 0;
  background: var(--inverted-color);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

  transition: 0.3s;
}

.menu.scrolled .menu-logo-link {
  width: 105px;
  height: 45px;
}

.menu-logo-link {
  margin-right: 60px;
  width: 133px;
  height: 60px;

  background: url(../imgs/logo-menu.svg) no-repeat center;
  background-size: cover;
}

.menu.scrolled .menu-logo-link {
  background: url(../imgs/footer-logo.png) no-repeat center;
  background-size: cover;
}

.menu nav ul {
  display: flex;
}

.menu nav ul li a {
  text-decoration: none;
  color: var(--inverted-color);

  padding: 20px 20px 10px 20px;
  display: block;

  white-space: nowrap;

  cursor: pointer;
  transition: 0.3s;
}

.menu nav ul li a::after {
  content: "";
  display: block;
  width: 70%;
  height: 2px;
  background: none;

  margin-top: 10px;

  animation: menuBar 0.3s forwards;
}

.menu nav ul li a.selected::after {
  content: "";
  display: block;
  width: 70%;
  height: 2px;
  background: var(--primary-color);

  margin-top: 10px;
  animation: menuBar 0.3s forwards;
}

.menu.scrolled nav ul li a {
  color: var(--content-color);
}

.menu .button {
  display: block;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin: 15px;

  line-height: 35px;
  text-align: center;

  background: #da3d77;
  color: var(--inverted-color);
  font-style: italic;
  font-weight: bold;
}

/* First Banner */

.banner {
  background: url(../imgs/first-banner.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 95vh;

  background-attachment: fixed;

  color: var(--inverted-color);
}

.banner-logo-title {
  text-align: center;
  margin-top: 15px;
  font-style: italic;

  font-size: 1.5em;
}

.banner .container div:first-child {
  flex: 1;
}

.banner .container div:last-child {
  flex: 1;
}

.banner-logo img {
  margin: 0 auto;
}

.banner .stores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .stores img {
  margin: 20px;
}

.banner-cta {
  margin-left: 100px;
}

.banner-cta h1 {
  font-size: 3.625em;

  display: block;

  font-family: var(--primary-font);

  font-weight: 100;

  text-transform: uppercase;
}

.banner-cta h1::after {
  content: "";
  display: block;
  width: 91px;
  height: 5px;
  background: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

.banner-cta h1 strong {
  font-weight: 500;
}

.banner-cta p {
  max-width: 300px;
  line-height: 1.25em;
}

.first-banner-button {
  display: block !important;
  width: 260px;

  background: var(--tertiary-color);

  font-size: 1.625em;

  padding: 10px 30px;
  margin: 40px 0 20px 0;

  border-radius: 10px;

  font-style: italic;
  text-align: center;

  color: var(--inverted-color);
}

/* How Works */

.how-works .container {
  align-items: flex-start;
  margin-top: -50px;
}

.articles {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  align-items: center;
  flex: 1;
}

.articles h3 {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.articles p {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}

.how-works h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;

  margin-top: 80px;
  margin-bottom: 50px;
}

/* Apps-on-Hands */

.app-on-hands {
  background: url(../imgs/app-on-hands.jpg) no-repeat center;
  background-size: cover;
  height: 70vh;

  color: var(--inverted-color);

  overflow-y: hidden;
}

.app-on-hands .container {
  position: relative;
}

.app-on-iphone {
  position: absolute;
  bottom: 25%;
  left: -50px;

  display: block;
  width: 650px;
  height: 300px;
}

.app-on-hands .container div {
  flex: 1;
}

.apps-apps-on-hands {
  height: 80%;

  margin-top: 50px;
  margin-left: -100px;

  z-index: 2;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.apps-apps-on-hands img {
  margin: 10px 20px;
}

.app-on-hands-cta {
  z-index: 2;
  max-width: 600px;

  margin-right: 70px;
}

.app-on-hands-cta h2 {
  font-size: 1.625em;
}

.app-on-hands-cta h2:first-child {
  font-style: italic;
}

.app-on-hands-cta-paragraph {
  margin-top: 30px;
  margin-bottom: 30px;
}

.app-on-hands-cta a {
  display: inline-block;

  padding: 15px 18px;
  margin-top: 40px;
  background: var(--inverted-color);
  color: var(--content-color);

  border-radius: 10px;

  font-style: italic;

  cursor: pointer;
}

/* News Section */

.news-section {
  height: 470px;
}

.news-section .container div:first-child {
  align-self: flex-start;
  flex: 1;
}

.news-section .container div:last-child {
  flex: 2;
}

.articles-container {
  display: flex;
}

.news-title {
  font-size: 2.125em;
  font-style: italic;
  text-align: center;
  padding-right: 60px;
  margin-top: 40px;
}

.news-article {
  width: 300px;
  max-width: 100%;
  padding: 10px;
}

.news-article p {
  font-weight: 300;
}

.news-article h2 {
  font-size: 1.8em;
}

.news-article a {
  display: inline-block;

  background: var(--primary-color);
  color: var(--inverted-color);
  border-radius: 10px;

  padding: 5px 20px;
  margin-top: 20px;
}

/* Prefeituras */

.prefeituras-section {
  background: url(../imgs/pref-bg.jpg) no-repeat center;
  background-size: cover;

  background-attachment: fixed;

  height: 70vh;
  color: var(--inverted-color);
}

.prefeituras-section div:first-child {
  flex: 1;
}
.prefeituras-section div:last-child {
  flex: 1;
}

.title-section-container {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 400%;
}

.section-title {
  margin-top: -60px;
  margin-right: 30px;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  margin-top: 10px;
  background: var(--primary-color);
  width: 660px;
  height: 5px;
  position: absolute;
  left: -20px;
  max-width: calc(100% + 150px);
}

.section-title p {
  font-size: 1.75em;
  font-style: italic;
  text-align: right;

  max-width: 350px;
}

.section-title h1 {
  font-size: 3.8em;
  font-style: italic;
  text-align: right;
  font-weight: bold;

  max-width: 350px;
}

.pref-cta {
  max-width: 300px;
  margin-right: 100px;
}

.pref-cta p {
  font-size: 1.375em;
  font-style: italic;

  margin-bottom: 100px;
}

.pref-cta a {
  display: inline-block;

  text-decoration: none;

  font-size: 1em;
  font-style: italic;

  background: var(--inverted-color);
  color: var(--content-color);

  padding: 15px 30px;

  border-radius: 10px;
}

.more-lang-icon {
  opacity: 0;
  position: absolute;
  top: -40px;
  right: 100px;
}

/* Prefeituras feats. */

.pref-feats .container {
  align-items: flex-start;
  margin-top: -50px;
}

.pref-feats-main {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 520px;

  font-size: 1.185;
  font-style: italic;
  justify-items: center;
}

.pref-feats-main li {
  display: flex;
  align-items: center;
}

.pref-more {
  font-weight: bold;
  font-size: 2em;

  margin: 95px auto 0 auto;

  display: block;

  width: 579px;
  max-width: 100%;
}

.pref-more h1 {
  padding-left: 40px;
  font-style: italic;
}

.pref-more::after {
  content: "";
  display: block;
  width: 579px;
  max-width: 100%;
  height: 3px;

  background: var(--primary-color);

  margin: 20px auto;
}

.pref-feats-secondary {
  display: flex;
  flex-direction: column;
  margin: 35px auto;
  max-width: 520px;

  font-size: 1.18;
  font-style: italic;
  justify-items: center;
}

.pref-feats-secondary li {
  display: flex;
  align-items: center;
}

.pref-feats-secondary li:last-child {
  align-items: flex-start;
}

.pref-feats-secondary li:last-child p {
  align-items: flex-start;
  margin-top: 15px;
}

.pref-feats-secondary li img {
  width: 30px;
  height: 30px;

  margin: 15px;
}

.pref-feats a {
  display: inline-block;

  text-decoration: none;

  font-size: 1em;
  font-style: italic;

  background: var(--primary-color);
  color: var(--inverted-color);

  padding: 15px 30px;
  margin-left: 90px;
  margin-bottom: 80px;

  border-radius: 10px;
  cursor: pointer;
}

.pref-container-cta {
  margin: 95px auto 0 auto;

  display: block;

  width: 579px;
  max-width: 100%;
}

/* Trade */
.trade-section {
  background: url(../imgs/trade.jpg) no-repeat center;
  background-size: cover;

  background-attachment: fixed;

  height: 70vh;
  color: var(--inverted-color);
}

.trade-section div:first-child {
  flex: 1;
}
.trade-section div:last-child {
  flex: 1;
}

.trade-cta {
  max-width: 300px;
  margin-right: 100px;
}

.trade-cta p {
  font-size: 1.375em;
  font-style: italic;

  margin-bottom: 100px;
}

.trade-cta a {
  display: inline-block;

  text-decoration: none;

  font-size: 1em;
  font-style: italic;

  background: var(--inverted-color);
  color: var(--content-color);

  padding: 15px 30px;

  border-radius: 10px;
}

.trade-partner {
  background: var(--primary-color);
  color: var(--inverted-color);

  height: 65vh;
  width: 100%;
}

.trade-partner .container {
  justify-content: center;
}

.partner-subcontainer {
  flex: 1;
  max-width: 400px;
}

.partner-subcontainer:last-child {
  padding-left: 100px;
}

.partner-subcontainer:first-child h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.partner-subcontainer:first-child p {
  font-size: 1.18em;

  font-style: italic;
}

.partner-subcontainer a {
  display: inline-block;

  text-decoration: none;

  font-size: 1em;
  font-style: italic;

  background: var(--inverted-color);
  color: var(--content-color);

  padding: 15px 30px;

  border-radius: 10px;

  margin-top: 45px;
}

.partner-subcontainer:last-child p {
  font-size: 0.95em;
}

.partner-subcontainer:last-child div {
  width: 387px;
  max-width: 100%;

  background: var(--content-color);
  padding: 5px;

  margin: 5px 0 10px 0;

  font-weight: bold;
  font-size: 1em;
}

.partner-features {
  font-size: 1.9em;

  font-weight: bold;
  font-style: italic;

  margin-top: 20px;
}

.partner-features li {
  width: 250px;

  display: flex;
  justify-content: space-between;
}

.partner-features span {
  color: var(--content-color);

  font-size: 0.9em;
}

/* Resident section */

.resident-section {
  background: url(../imgs/resident.jpg) no-repeat center;
  background-size: cover;

  background-attachment: fixed;

  height: 70vh;
  color: var(--inverted-color);
}

.resident-section div:first-child {
  flex: 2;
}

.resident-section div:first-child h1 {
  white-space: nowrap;
}

.resident-section div:last-child {
  flex: 1;
}

.resident-cta {
  margin-left: 80px;
}

.resident-cta p {
  font-size: 1.375em;
}

.resident-cta p:first-child {
  margin-bottom: 20px;
}

.resident-cta-last-phrase {
  padding-bottom: 80px;
}

.button-section-resident {
  display: inline-block;

  text-decoration: none;

  font-size: 1em;
  font-style: italic;

  background: var(--inverted-color);
  color: var(--content-color);

  padding: 15px 30px;

  border-radius: 10px;
  margin-bottom: 20px;
}

.resident-stores {
  display: flex;
}

.resident-stores a {
  margin: 10px;
}

.resident-feats .container {
  align-items: flex-start;
  margin-top: -50px;
}

.resident-feats .articles {
  font-size: 1.25em;
}

.resident-feats .articles p,
.resident-feats .articles h3 {
  margin-bottom: 0;
}

/* Partners */

.partners {
  width: 100%;
  height: 45vh;

  margin-top: 130px;

  background: #3074b3;
  color: var(--inverted-color);

  font-size: 1.68em;
  font-style: italic;
}

.partners .container {
  flex-direction: column;
  justify-content: center;
}

.partners h2 {
  align-self: flex-start;
  margin-left: 100px;
  margin-bottom: 25px;
}

.partners-sub-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.partners-list-part {
  width: 300px;
}

.partners-list-part:first-child {
  margin-left: 200px;
}

.partners-list-part ul {
  list-style-type: disc;
}

/* Partners Logos */

.partners-logo {
  width: 100%;
  height: 45vh;

  font-size: 1.68em;
  font-style: italic;
}

.partners-logo .container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partners-logo-subcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.partners-logo h2 {
  align-self: flex-start;
  margin-left: 100px;
  margin-bottom: 21px;
}

/* Mosaico */

.partners-mosaic {
  width: 100%;
}

.partners-mosaic img {
  width: 100%;
}

.app-numbers {
  width: 100%;
  height: 45vh;
}

.app-numbers .container {
  justify-content: space-around;
}

.number-growth h1 {
  font-size: 4.1em;
  font-weight: bold;
  text-align: center;
}

.number-growth p {
  font-size: 1.18em;
  font-weight: 300;
  text-align: center;
}

.newsletter {
  width: 100%;
  height: 35vh;

  background: var(--primary-color);
  color: var(--inverted-color);
}

.newsletter .container {
  flex-direction: column;
  justify-content: center;
}

.newsletter h1 {
  align-self: flex-start;

  font-style: italic;
  font-size: 2.375em;

  margin-left: 50px;
  margin-bottom: 21px;
}

.newsletter-subcontainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.newsletter form {
  display: flex;
  align-items: center;
}

.newsletter input {
  width: 400px;
  max-width: 100%;
  height: 45px;

  padding-left: 15px;

  border: none;

  color: var(--content-color);
}

.assign {
  width: 177px;
  height: 45px;

  margin-left: 15px;
  padding-left: 15px;

  background: var(--secondary-color);
  color: var(--inverted-color);

  font-size: 1.687em;
  font-weight: bold;

  text-align: left;
}

.social-media {
  margin-bottom: 20px;
}

.social-media p {
  font-size: 1.187;
  margin-bottom: 20px;
}

.social-media-links {
  display: flex;

  align-items: center;
}

.social-media-links a {
  width: 2em;
  height: 2em;

  display: inline-block;

  margin: 0 20px;
}

footer {
  width: 100%;
  height: 25vh;
}

footer .container {
  justify-content: center;
}

footer .container div {
  flex: 1;
}

.footer-logo img {
  margin: 0 auto;
}

.disclaimer {
  font-style: italic;
  font-size: 0.85em;
}

.disclaimer p {
  margin-top: 20px;
  font-style: normal;
  font-size: 0.9em;
}

.footer-stores img {
  width: 130px;
  height: 35px;

  margin: 20px auto;
}

/* Modals */

.contact-modal {
  display: none;
}

[data-modal] {
  display: none;
}

[data-modal].active {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  overflow: hidden;

  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-content {
  background: var(--inverted-color);
  position: relative;

  width: 768px;
  max-width: 100%;
  height: 768px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  overflow-y: auto;
}

.contact-modal.active {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  overflow: hidden;

  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

/* Animações */

[data-anime="scroll"] {
  opacity: 0;
  animation: takeUp 0.3s forwards;
}

[data-anime="scroll"].ativo {
  opacity: 1;
  animation: showDown 0.3s forwards;
}

@keyframes showDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(initial);
  }
}

@keyframes takeUp {
  from {
    opacity: 1;
    transform: translateY(initial);
  }
  to {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@keyframes menuBar {
  from {
    opacity: 0;
    transform: translatex(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(initial);
  }
}

/* more languages / scroll Magic */

@keyframes fromTheRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(initial);
  }
}

.section.ativo .more-lang-icon {
  animation: fromTheRight 1s forwards;
}
